@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

p {
  font-weight: normal;
  font-size: 18px; }

a {
  text-decoration: none !important; }

::-moz-selection {
  background: #6c63ff;
  color: #0bda7c; }

::selection {
  background: #6c63ff;
  color: #0bda7c; }

#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1022;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible; }

.preloaderDone {
  visibility: hidden !important;
  opacity: 0;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease; }

.preloaderIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #6c63ff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-animation: load 0.7s infinite linear;
          animation: load 0.7s infinite linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .preloaderIcon:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: #6c63ff;
    opacity: 0.5;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-animation: load 0.5s infinite linear;
            animation: load 0.5s infinite linear; }

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes load {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.header {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background: url("../img/headerBook.svg");
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__volume {
    width: 35px;
    height: 35px;
    background: #6c63ff;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }
    .header__volume i {
      color: #ffffff;
      margin: auto; }
  .header__wlcmText {
    margin-bottom: 27px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__wlcmText h1 {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background: #efecff;
      color: #3f3d56;
      font-size: 60px;
      padding: 10px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); }
    .header__wlcmText h3 {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background: #efecff;
      color: #3f3d56;
      padding: 10px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); }
    .header__wlcmText h5 {
      padding: 10px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background: #efecff;
      color: #6c63ff;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .header__card:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    right: 5px;
    top: 5px;
    background: url("../img/icons/frankenstein.svg");
    -webkit-background-size: cover;
            background-size: cover; }
  .header__card.love:before {
    background: url("../img/icons/like.svg"); }
  .header__card.comedy:before {
    background: url("../img/icons/smile.svg"); }
  .header__card {
    position: relative;
    margin: 1rem 0;
    padding: 20px 0;
    background: #ffffff;
    width: 100%;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15); }
    .header__card:hover {
      -webkit-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
              transform: translateY(-3px);
      background: #6c63ff;
      -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3); }
    .header__card:hover .header__card__icon i {
      color: #ffffff; }
    .header__card:hover .header__card__name h5 {
      color: #ffffff; }
    .header__card__icon {
      margin-bottom: 22px; }
      .header__card__icon i {
        font-size: 3rem;
        color: #6c63ff;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    .header__card__name {
      min-height: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header__card__name h5 {
        margin: 0;
        color: #6c63ff;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-size: 19px; }

@media (max-width: 425px) {
  .header__card__name h5 {
    font-size: 16px; } }

#wrapper {
  width: 900px;
  margin: 0 auto; }

.leftMsg {
  margin-right: auto;
  -webkit-border-bottom-left-radius: 3px !important;
          border-bottom-left-radius: 3px !important; }

.rightMsg {
  margin-left: auto;
  -webkit-border-bottom-right-radius: 3px !important;
          border-bottom-right-radius: 3px !important; }

.person {
  opacity: 0;
  cursor: default; }
  .person__card {
    position: relative;
    width: 250px;
    min-height: 30px;
    background: #efecff;
    padding: 10px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .person__card.discription {
      background: transparent; }
      .person__card.discription .person__card__msg p {
        color: #a1a1a1; }
      .person__card.discription .person__card__name {
        display: none; }
    .person__card__name h5 {
      color: #6c63ff; }
    .person__card__img {
      width: 100%;
      position: relative; }
      .person__card__img img {
        width: 100%;
        -webkit-border-radius: 10px;
                border-radius: 10px; }

@media (max-width: 900px) {
  #wrapper {
    width: 90%; } }

#finger {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-align: center; }
  #finger img {
    width: 100px;
    -webkit-animation: tudaSuda 2.5s infinite linear;
            animation: tudaSuda 2.5s infinite linear; }
  #finger h5 {
    margin: 0;
    margin-top: 20px;
    font-size: 13px;
    color: #6c63ff;
    font-family: monospace; }

@-webkit-keyframes tudaSuda {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; } }

@keyframes tudaSuda {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; } }

.faces {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden; }
  .faces img {
    width: 200px;
    position: absolute;
    left: -250px;
    top: 100px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .faces img.right {
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg); }

@media (max-width: 425px) {
  .faces img {
    width: 100px; } }
